
<template name="dapp_choiceAccount">
	<div class="dapp-select-account {{class}}">
		<select name="{{#if name}}{{name}}{{else}}dapp-select-account{{/if}}" class="{{class}}" style="background-color: #d7dde6;border: solid 0px #f7f8fc;">
            <option value = "0">Choice Account</option>
			{{#each accounts}}
				<option value="{{address}}" {{selected}}>
					{{#if isAccount}}✉{{/if}} {{name}}
					{{#if balance}}
						- {{dapp_formatBalance balance "0,0.00 UNIT"}}
						{{#if isNotEtherUnit}}
							({{dapp_formatBalance balance "0,0.00 UNIT" "ether"}})
						{{/if}}
					{{/if}}
				</option>
			{{/each}}
		</select>
		{{#if isAddress}}
			{{> dapp_identicon identity=(TemplateVar.get "value") class="dapp-small"}}
		{{else}}
			<i class="no-identicon icon-{{TemplateVar.get 'value'}}"></i>
		{{/if}}
	</div>
</template>
