
<template name="dapp_choiceSimpleAccount">
	<div class="dapp-select-account {{class}}">
		<select name="{{#if name}}{{name}}{{else}}dapp-select-account{{/if}}" class="{{class}}" style="background-color: #f7f8fc;border: solid 0px #f7f8fc; padding-left: 10px;">
            {{#each accounts}}
                <option value="{{address}}" {{selected}}>
                    ✉ {{name}}
                    {{#if balance}}
                        - {{transferBanlance balance "0,0.00[0000000000000000] UNIT" "ETHER"}}
                    {{/if}}
                </option>
            {{/each}}
        </select>
	</div>
</template>
