<template name="views_modals_crosstransactionInfo">
    {{#with transaction}}
        <h1 style="font-size: 16px;font-weight: 600;margin-bottom: 10px;">crosschain transaction info</h1>
         <!--dapp-zebra-->
        <table class="dapp-zebraPou">
            <tbody>
                <tr>
                {{#if x}}
                    <td>HashX</td>
                    {{else}}
                    <td>Hash</td>
                {{/if}}
                    <td>{{HashX}}</td>
                </tr>
                <tr>
                    <td>Chain</td>
                    <td>{{chain}}</td>
                </tr>
                <tr>
                    <td>From</td>
                    <td>{{from}}</td>
                </tr>
                <tr>
                    {{#if x}}
                        <td>crossAdress</td>
                    {{else}}
                        <td>To</td>
                    {{/if}}
                    <td>{{crossAdress}}</td>
                </tr>
                {{#if lockTxHash}}
                    <tr>
                        <td>lockTxHash</td>
                        <td>{{lockTxHash}}</td>
                    </tr>
                {{/if}}
                {{#if refundTxHash}}
                    <tr>
                        <td>refundTxHash</td>
                        <td>{{refundTxHash}}</td>
                    </tr>
                {{/if}}

                {{#if revokeTxHash}}
                    <tr>
                        <td>revokeTxHash</td>
                        <td>{{revokeTxHash}}</td>
                    </tr>
                {{/if}}

                {{#if storeman}}
                    <tr>
                        <td>Storeman</td>
                        <td>{{storeman}}</td>
                    </tr>
                {{/if}}

                <tr>
                    <td>Value</td>
                    <td>{{value}} {{symbol}}</td>
                </tr>

                {{#if x}}
                    <tr>
                        <td>X</td>
                        <td>{{x}}</td>
                    </tr>
                {{/if}}

                {{#if status}}
                    <tr>
                        <td>Status</td>
                        <td>{{status}}</td>
                    </tr>
                {{/if}}

                {{#if blockHash}}
                    <tr>
                        <td>{{i18n "wallet.transactions.block"}}</td>
                        <td>
                           {{#if $eq ($.Session.get "network") "main"}}
                               <a href="http://explorer.wanchain.org/block/{{blockNumber}}" title="{{blockNumber}}" target="_blank" class="dapp-shorten-text">
                                   {{blockNumber}}
                                   <br>
                                   {{blockHash.substr 0 40}}...
                               </a>
                            {{else}}
                                {{#if $eq ($.Session.get "network") "test"}}
                                    <a href="http://explorer.wanchain.org/block/{{blockNumber}}" title="{{blockNumber}}" target="_blank" class="dapp-shorten-text">
                                        {{blockNumber}}
                                        <br>
                                        {{blockHash.substr 0 40}}...
                                    </a>
                                {{else}}
                                    {{blockNumber}}
                                    <br>
                                    {{blockHash.substr 0 40}}...
                                {{/if}}
                            {{/if}}
                        </td>
                    </tr>
                {{/if}}

               <tr>
                   <td>Date</td>
                   <td>{{time}}</td>
               </tr>
            </tbody>
        </table>
    {{/with}}
</template>
