<template name="views_modals_sendcrosschainReleaseX">
    <h1>{{TemplateVar.get "transType"}}</h1>
    <table class="dapp-zebraPou">
        <tbody>
            <tr>
                <td>from:</td>
                <td>{{from}}</td>
            </tr>
            <tr>
                <td>to:</td>
                <td>{{to}}</td>
            </tr>
            <tr>
                <td>storeman:</td>
                <td>{{storeman}}</td>
            </tr>
            <tr>
                <td>crossAdress:</td>
                <td>{{crossAdress}}</td>
            </tr>
            <tr>
                <td>amount:</td>
                <td>{{amount}} {{symbol}}</td>
            </tr>
        </tbody>
    </table>
    <hr>

    <p class="tx-info">
        <small>+ {{i18n "wallet.send.estimatedFee"}}</small> {{fee}}
        <br>
        <small class="gas-price">
            {{i18n "wallet.transactions.gasPrice"}} {{gasPrice}}
            <br>
            {{i18n "wallet.send.texts.estimatedGas"}} {{estimatedGas}}
        </small>
    </p>

    <p class="tx-info">
        <small>{{i18n "wallet.send.data"}}</small>
    <pre>{{data}}</pre>
    </p>

    <input type="password" id="releaseX-psd" placeholder="{{TemplateVar.get "passwdType"}}"
           disabled="{{TemplateVar.get "isButton"}}"
           style="width: 100%;"/>

    <div class="dapp-modal-buttons">
        <button class="cancel-cross" disabled="{{TemplateVar.get "isButton"}}">CANCEL</button>
        <button class="ok-cross dapp-primary-button"
                disabled="{{TemplateVar.get "isButton"}}"
        >OK</button>
    </div>

</template>
