<template name="views_modals_lockBtcInfo">
    <h1>Crosschain Transaction</h1>
    <table class="dapp-zebraPou">
        <tbody>
        <tr>
            <td>Storeman：</td>
            <td>{{storeman}}</td>
        </tr>
            <tr>
                <td>To：</td>
                <td>{{to}}</td>
            </tr>
            <tr>
                <td>Amount</td>
                <td>{{amount}} {{symbol}}</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <input type="password" id="crosschain-psd-wan"
           disabled="{{TemplateVar.get "isButton"}}"
           placeholder="{{TemplateVar.get "wanPasswdType"}}" style="width: 100%;"/>

    <input type="password" id="crosschain-psd"
           disabled="{{TemplateVar.get "isButton"}}"
           placeholder="{{TemplateVar.get "passwdType"}}" style="width: 100%;"/>

    <div class="dapp-modal-buttons">
        <button class="cancel-cross" disabled="{{TemplateVar.get "isButton"}}">CANCEL</button>
        <button class="ok-cross dapp-primary-button"
                disabled="{{TemplateVar.get "isButton"}}"
        >OK</button>
    </div>

</template>
