<template name="views_modals_sendEthTransactionInfo">
    <p>from: {{from}}</p>
    <p>to: {{to}}</p>
    <p>amount: {{amount}}</p>

    <p class="tx-info">
        <small>+ {{i18n "wallet.send.estimatedFee"}}</small> {{fee}}
        <br>
        <small class="gas-price">
            {{i18n "wallet.transactions.gasPrice"}} {{gasPrice}}
            <br>
            {{i18n "wallet.send.texts.estimatedGas"}} {{estimatedGas}}
        </small>
    </p>

    <input type="password" id="releaseX-psd" placeholder="enter password"
           disabled="{{TemplateVar.get "isButton"}}"
           style="width: 100%;"/>

    <div class="dapp-modal-buttons">
        <button class="cancel-cross" disabled="{{TemplateVar.get "isButton"}}">CANCEL</button>
        <button class="ok-cross dapp-primary-button"
                disabled="{{TemplateVar.get "isButton"}}"
        >OK</button>
    </div>

</template>
