<template name="views_modals_sendEthTransactionInfo">

    <h1>Eth Transaction</h1>
    <table class="dapp-zebraPou">
        <tbody>
        <tr>
            <td>From:</td>
            <td>{{from}}</td>
        </tr>
        <tr>
            <td>To：</td>
            <td>{{to}}</td>
        </tr>
        <tr>
            <td>Amount：</td>
            <td>{{amount}} ETH</td>
        </tr>
        </tbody>
    </table>
    <hr>

    <p class="tx-info">
        <small>+ {{i18n "wallet.send.estimatedFee"}}</small> {{fee}}
        <br>
        <small class="gas-price">
            {{i18n "wallet.transactions.gasPrice"}} {{chooseGasPrice}}
            <br>
            {{i18n "wallet.send.texts.estimatedGas"}} {{gas}}
        </small>
    </p>

    <input type="password" id="ethTransaction-psd" placeholder="enter password"
           disabled="{{TemplateVar.get "isButton"}}"
           style="width: 100%;"/>

    <div class="dapp-modal-buttons">
        <button class="cancel-cross" disabled="{{TemplateVar.get "isButton"}}">CANCEL</button>
        <button class="ok-cross dapp-primary-button"
                disabled="{{TemplateVar.get "isButton"}}"
        >OK</button>
    </div>

</template>
