<template name="dapp_waddressInput">
	<div class="dapp-address-input {{#if TemplateVar.get 'hasName'}}has-name{{/if}}">
		<input type="text" id="waddress-input" name="{{name}}" placeholder="{{placeholder}}" class="{{class}} {{#unless TemplateVar.get 'isValid'}}dapp-error{{/unless}} {{#unless TemplateVar.get 'isChecksum'}} dapp-non-checksum {{/unless}}" {{additionalAttributes}} value="{{value}}" title="{{#unless TemplateVar.get 'isChecksum'}}{{i18nText}}{{/unless}}" style="background-color: #f7f8fc;border: solid 0px #f7f8fc;" >

		{{#if TemplateVar.get 'hasName'}}
			<span class='ens-name'>{{ensDisplay}}</span>
		{{/if}}

		{{#if TemplateVar.get "isValid"}}
			{{> dapp_waddress_identicon identity=address}}
		{{else}}
			<i class="icon-shield"></i>
		{{/if}}

	</div>
</template>