<template name="views_modals_watchAddress">
    <h1>{{i18n "wallet.contracts.watchContract"}}</h1>

    <h3>{{i18n "wallet.contracts.name"}}</h3>
    <input type="string" value="" name="name" placeholder="Name this contract" class="name">

    <h3>{{i18n "wallet.contracts.address"}}</h3>

    {{> dapp_addressInput placeholder="0x000000.." value=this.address name="address" autofocus=true class='contract-address'}}

    <h3>{{i18n "wallet.contracts.interface"}}</h3>
    <input type="string" value="" name="abi" placeholder="JSON object" class="abi">
    
</template>