<template name="views_account">

    <div class="dapp-container accounts-page">

        {{> dapp_identicon identity=address}}
            
        <hgroup>
            <h1><span>{{name}}</span></h1>
            <h2>{{address}}</h2>                
        </hgroup>
        {{> elements_balance balance=balance changeUnit=true}}

        {{! > elements_account account=account main=true}}

        <!-- <h3>{{account}}</h3> -->

        <div class="dapp-clear-fix"></div>

        <h2>Latest transactions</h2>

        {{> elements_transactions_table items=transactions}}
    </div>
</template>
