<template name="views_account">
    {{#with account}}
        <h1 class="account-h1"><div class="circle"></div><strong>{{i18n 'views.account.title'}}</strong></h1>
        <div class="dapp-container accounts-page">
            <div class="accounts-page-summary">
	              <!--account detail-->
                <div class="viwes-account-header" style="padding: 20px;">
                    <div class="header-span">
                        {{> dapp_identicon identity=address}}
                    </div>
                    <header class="{{ensClass}}" style="float: left; padding-left: 10px;">
                        <h1>
                            {{#if ens}}
                                <span>{{displayName}}</span>
                            {{else}}
                                <em class="edit-name">{{displayName}}</em>
                                <i class="edit-icon icon-pencil"></i>
                            {{/if}}
                        </h1>

                        <p ><span id="address" class="copyable-address">{{toChecksumAddress address}}</span></p>
                        <p ><span class="accountLink-span copyable-waddress" id="waddress">{{waddress}}</span></p>

                        <div class="clear"></div>
                        <nav class="viwes-account-nav">
                            <ul>
                                {{#if hrefType}}
                                    <li>
                                        <a href="{{pathFor route='sendTo' address=(toChecksumAddress address)}}" title="{{toChecksumAddress address}}">
                                            <i class="icon-arrow-up"></i>{{i18n 'views.account.transfer'}}</a>
                                    </li>
                                {{else}}
                                    <li>
                                        <a style="cursor: pointer" title="{{toChecksumAddress address}}" id="transfer">
                                            <i class="icon-arrow-up"></i>{{i18n 'views.account.transfer'}}</a>
                                    </li>
                                {{/if}}
                                <li>
                                    <button class="start-to-scan-block-button"><i class="icon-action-redo"></i>{{i18n 'views.account.OTAs'}}</button>
                                </li>
                                <li>
                                    <button class="copy-to-clipboard-button" name="address"><i class="icon-docs"></i>{{i18n 'views.account.copyAddress'}}</button>
                                </li>
                                <li>
                                    <button class="copy-to-clipboard-wbutton" name="waddress"><i class="icon-docs"></i>{{i18n 'views.account.copyWaddress'}}</button>
                                </li>

                                <li>
                                    <button class="qrcode-button" name="address"><i class="icon-camera"></i>{{i18n 'views.account.scanAddressQRCode'}}</button>
                                </li>
                                <li>
                                    <button class="qrcode-button" name="waddress"><i class="icon-camera"></i>{{i18n 'views.account.scanWaddressQRCode'}}</button>
                                </li>
                            </ul>
                        </nav>
                    </header>
                </div>

	              <!--Balance-->
	              <div class="viwes-account-header">
		              <h1 class="account-h1"><div class="viwes-account-line"></div><strong>{{i18n 'views.account.balacne.title'}}</strong></h1>
		              <div class="viwes-account-balance-left">
                          <img src="/images/wanchain.png"/>
                          <p><div class="circle" style="width: 6px;height: 6px;"></div>
                            <strong style="display: inline-block;">{{> elements_balance balance=balance changeUnit=true showAllDecimals=true}}</strong>
                            <span class="balance-span">{{i18n 'views.account.balacne.des'}}</span>
                          </p>
		              </div>

                      {{#if otasValue}}
                          <div class="viwes-account-balance-left">
                              <p><div class="circle" style="width: 6px;height: 6px;"></div>
                              <strong style="display: inline-block;">{{> elements_balance balance=otasValue changeUnit=true showAllDecimals=true}}</strong>
                              <span class="balance-span">{{i18n 'views.account.balacne.ota'}}
                                  <a href="{{pathFor route='otaRefund' address=theAddress}}">{{i18n 'views.account.balacne.refund'}}</a>
                          </span>
                              </p>
                          </div>
                      {{/if}}

                      <div >
                          {{#each tokens}}
                              <hr class="viwes-account-balance-hr viwes-account-balance-left"/>
                              <div class="viwes-account-balance-right">
                                  <p >
                                      <span class="views_account_token">{{name}}</span>
                                  <div class="circle" style="width: 6px;height: 6px;"></div>
                                  <span id="views_account_token_balance">{{balance}}</span>
                                  </p>
                              </div>
                          {{/each}}
                      </div>
	              </div>
            </div>
        </div>

	    <div class="dapp-clear-fix"></div>
    {{/with}}

		<!--transaction list-->
		<div class="viwes-account-header" style="margin: 20px;">
			{{#if allTransactions}}
                <h1 class="account-h1"><div class="viwes-account-line"></div><strong>{{i18n 'views.account.transaction.title'}}</strong></h1>
				{{> elements_transactions_table limit=5 address=theAddress}}
			{{else}}
				<h2>{{i18n 'wallet.transactions.none'}}</h2>
			{{/if}}
		</div>
</template>
