<template name="views_chats_aside">
    <nav>
        <ul>
            <li><button class="add-chat dapp-main-button">{{i18n 'whisper.app.buttons.newChat'}} <i class="icon-chat"></i></button></li>
            <!-- <li class="{{isActivePath regex='public$'}}">
                <a href="{{pathFor route='chat' sessionKey='public'}}">{{i18n 'whisper.chat.texts.publicChat'}}</a>
            </li> -->
            {{#each chats}}
                {{> views_chats_aside_menuItem}}
            {{/each}}
        </ul>
    </nav>
</template>


<template name="views_chats_aside_menuItem">
    <li class="{{isActivePath regex=_id}} {{#if invitation}}invitation{{/if}}">
        <a href="{{pathFor route='chat' sessionKey=_id}}" title="{{generatedName}}" class="{{#if editName}}editing{{/if}}">
            {{#if privateChat}}
                <i class="icon-lock"></i>
            {{else}}
                <i class="icon-users"></i>
            {{/if}}


            <!-- the span is in here to make multiline text ellipsis possible -->
            <span>
                {{#if editName}}
                    <!-- <span class="chat-name" contenteditable="true">{{name}}</span> -->
                    <input class="chat-name" value="{{name}}">
                {{else}}
                    {{#if name}}
                        {{name}}
                    {{else}}
                        {{generatedName}}
                    {{/if}}
                {{/if}}
                
                {{#unless privateChat}}
                    {{#if editName}}
                        <button class="save-name icon-checkmark"></button>
                    {{else}}
                        <button class="edit-name icon-pencil"></button>
                    {{/if}}
                {{/unless}}

                {{#if $gt unreadCount 0}}
                    <span class="dapp-count">{{unreadCount}}</span>
                {{/if}}
            </span>


            {{#if invitation}}
                <i class="invited icon-bell"></i>
            {{/if}}
        </a>
    </li>
</template>


<template name="views_chats">
    <main class="dapp-content dapp-has-header">

        {{#with currentIdentity}}
            <header class="dapp-content-header">
                <div class="whisper-user-chat-header">
                    {{> elements_profileImage identity=identity class="dapp-small"}}
                    
                    <a href="{{pathFor route='userProfile' userId=identity}}" class="whisper-username">{{name}}</a> {{i18n 'whisper.chat.texts.talksAbout'}}
                    <input type="text" value="{{../myTopic}}" name="topic">
                </div>

                <textarea name="write-message" placeholder="{{i18n 'whisper.chat.placeholder.writeHere'}}"></textarea>

                {{#if topics ../messages}}
                    <ul class="whisper-topic-list">
                        <li>
                            <button class="dapp-tag-button show-all-topics {{#if showAllTopics ../filteredTopics}}active{{/if}}">{{i18n 'whisper.chat.buttons.showAllTopics'}}</button>
                        </li>
                        {{#each topics ../messages}}
                            <li>
                                <button class="dapp-tag-button filter-by-topic {{#if isSelectedTopic ../../filteredTopics}}active{{/if}}">{{this}}</button>
                            </li>
                        {{/each}}
                    </ul>
                {{/if}}
            </header>
        {{/with}}


        {{#each groupedMessages}}
            {{> views_chats_item}}

        {{else}}
            <p>{{i18n 'whisper.chat.texts.noChats'}}</p>
        {{/each}}


        {{#if showMoreButton}}
            <button class="show-more dapp-block-button">{{i18n 'whisper.chat.buttons.showMore'}}</button>
        {{/if}}

    </main>
</template>


<template name="views_chats_item">
    <div class="whisper-chat-item {{#if isYou from}}you{{/if}} animate">
        <div class="whisper-user-info">
            {{> elements_profileImage identity=from.identity class="dapp-small"}}
        </div>
        <div class="whisper-chat-header">
            <a href="{{pathFor route='userProfile' userId=from.identity}}" class="whisper-username">
                {{username from.identity}}
                {{#if inContacts}}<i class="icon-book" title="{{i18n 'whisper.users.texts.youreFollowing'}}"></i>{{/if}}
            </a>
            {{formatTime timestamp 'fromnow'}}
        </div>

        {{#each messages}}
            <div class="whisper-chat-message {{#if $eq type 'notification'}}notification{{/if}} {{#if unread}}unread{{/if}}">
                <div class="whisper-chat-message-header">
                    {{#if canEdit ../from}}
                        <button class="edit-message">{{i18n 'buttons.edit'}}</button>
                    {{/if}}
                    {{#if topic}}{{i18n 'commonWords.on'}} <button class="topic">{{topic}}</button>{{/if}}
                    {{#if edited}}
                        <i class="icon-pencil" title="{{i18n 'whisper.chat.texts.edited'}} {{formatTime edited 'fromnow'}}"></i>
                    {{/if}}
                </div>

                {{#if $eq type 'notification'}}
                    <p>
                        <i class="icon-info2"></i>
                        {{{notificationType}}}
                    </p>
                {{else}}
                    {{#markdown}}{{{message}}}{{/markdown}}
                {{/if}}
            </div>
        {{/each}}

    </div>
</template>


<template name="views_chats_actionbar">
    <nav>
        <ul>
            <li>
                <a href="{{pathFor route='addUser' sessionKey=_id}}">
                    <i class="icon-user-add"></i>
                    Add Users
                </a>
            </li>
            <!-- <li>
                <button>
                    <i class="icon-bolt"></i>
                    Connect
                </button>
            </li> -->
            <li>
                <button class="leave-chat">
                    <i class="icon-logout"></i>
                    Leave Chat
                </button>
            </li>
        </ul>
    </nav>

    <hr>

    <ul class="whisper-participant-list">
        {{#each participants}}
        <li>
            {{> elements_profileImage identity=identity class="dapp-small"}}
            
            <span class="whisper-username">{{name}}</span>
        </li>
        {{/each}}
    </ul>

</template>