<template name="views_contracts">

    <h1 class="account-h1">
        <div class="circle"></div><strong>{{i18n "wallet.contracts.tokenTitle"}}</strong>
        <div class="dapp-header-map">
            <img class="wanchain-map"/>
            <a href="{{pathFor route='dashboard'}}">WALLETS</a>
            &nbsp;>&nbsp;TOKENS
        </div>
    </h1>

    <div class="viwes-account-header">
        <div class="dapp-container">
            <h1 class="account-h1"><div class="viwes-account-line"></div><strong>{{{i18n "wallet.tokens.title"}}}</strong></h1>

            <div class="dapp-clear-fix"></div>

            <div class="wallet-box-list" style="margin: 10px;">
                {{#each tokens}}
                    {{> elements_tokenBox}}
                {{/each}}
            </div>

            <div class="dapp-clear-fix"></div>

            <button class="add-token">
                <div class="account-pattern">
                    +
                </div>
                <h3 style="position: relative;top: -50px;left: 95px;color: #4b90f7;">{{i18n "wallet.app.buttons.addToken"}}</h3>
            </button>

        </div>
    </div>
</template>