<template name="views_contracts">
    <div class="dapp-container">

        <h1><strong>{{i18n "wallet.contracts.contractTitle"}}</strong></h1>

        <a href="{{pathFor route='deployContract'}}" class="wallet-box create">
            <div class="account-pattern">
                +
            </div>
            <h3>{{i18n "wallet.contracts.deployNewContract"}}</h3>
        </a>

        <h2>{{i18n "wallet.contracts.customContracts"}}</h2>

        <p>{{i18n "wallet.contracts.description" }}</p>
        <div class="dapp-clear-fix"></div>

        <div class="wallet-box-list">
        {{#each customContracts}}
            {{> elements_account account=_id isContract=true}}
        {{/each}}
        </div>

        <button class="wallet-box create add-contract">
            <div class="account-pattern">
                +
            </div>
            <h3>{{i18n "wallet.contracts.addCustomContract"}}</h3>
        </button>
        <div class="dapp-clear-fix"></div>


        <br><br>

        <h2>{{{i18n "wallet.tokens.title"}}}</h2>

        <p>
            {{{i18n "wallet.tokens.description" Ethereum=Ethereum}}}
        </p>

        <div class="dapp-clear-fix"></div>

        <div class="wallet-box-list">
        {{#each tokens}}
            {{> elements_tokenBox}}
        {{/each}}
        </div>

        <button class="wallet-box create add-token" style="float:left">
            <div class="account-pattern">
                +
            </div>
            <h3>{{i18n "wallet.app.buttons.addToken"}}</h3>
        </button>
        
        {{#if isMainNetwork}}
        <button class="wallet-box create token-auto-scan" {{autoScanButtonIsDisabled}} title="{{i18n "wallet.tokens.autoScan.description"}}">
            <div class="account-pattern">
                <div class="icon icon-target"></div>
            </div>
            <h3>
                {{#if TemplateVar.get "autoScanStatus"}}
                    {{TemplateVar.get "autoScanStatus"}}
                {{else}}
                    {{i18n "wallet.app.buttons.tokenAutoScan"}}
                {{/if}}
            </h3>
        </button>
        {{/if}}
    </div>
</template>
