<template name="views_dashboard">
    <div class="dapp-container">

        <h1 class="account-h1"><div class="circle"></div><strong>{{{i18n "wallet.accounts.title"}}}</strong></h1>

        {{#if pendingConfirmations}}
            <h2>{{i18n 'wallet.transactions.pendingConfirmations'}}</h2>

            {{> elements_transactions_table collection="PendingConfirmations" ids=pendingConfirmations }}

        {{/if}}

        {{#if hasAccounts}}
            <div>
                {{#each accounts}}
                    {{> elements_account account=_id}}
                {{/each}}
            </div>

            {{#if isMist}}
                <button class="wallet-box create account">
                    <div class="account-pattern">
                        +
                    </div>
                    <h3>{{i18n "wallet.app.buttons.addAccount"}}</h3>
                </button>
            {{/if}}

        {{else}}
            <div class="col col-5 mobile-full ">
                <br>
                {{#if isMist}}
                    <button class="wallet-box create account">
                        <div class="account-pattern">
                            +
                        </div>
                        <h3>{{i18n "wallet.app.buttons.addAccount"}}</h3>
                    </button>
                {{/if}}
            </div>
            <div class="col col-5 mobile-full ">
                <h3>{{i18n "wallet.app.texts.noAccounts.title"}}</h3>
                <p>{{i18n "wallet.app.texts.noAccounts.text"}}</p>
            </div>
        {{/if}}

    </div>
</template>