<template name="views_dashboard">
    <div class="dapp-container">

        <h1 class="account-h1" style="position: relative;">
            <div class="circle"></div>
            <strong>{{{i18n "wallet.accounts.title"}}}</strong>

            <div class="sortBox">
                <div>
                    <h1>sort<em></em></h1>
                    <ul class="sortShow">
                        <li id="sortByName"><span></span>Displayed in account created name order</li>
                        <li id="sortByAmount"><span></span>Displayed in balance amount order</li>
                    </ul>
                </div>

            </div>

            <!--<p class="pinIt">-->
                <!--<em class="pinTime" title="Displayed in chronological order (account created time)"></em>-->
                <!--<em class="pinBalance" title="Displayed in balance amount order"></em>-->
            <!--</p>-->

            <!--<div class="toggle" id="male">-->
                <!--<div class="glow-comp"></div>-->
                <!--<div class="toggle-button"></div>-->
                <!--<div class="toggle-text-on">Pin it</div>-->
            <!--</div>-->
        </h1>

        {{#if pendingConfirmations}}
            <h2>{{i18n 'wallet.transactions.pendingConfirmations'}}</h2>

            {{> elements_transactions_table collection="PendingConfirmations" ids=pendingConfirmations }}

        {{/if}}

        {{#if hasAccounts}}
            <div>
                {{#each accounts}}
                    {{> elements_account account=_id}}
                {{/each}}
            </div>

        {{else}}
            <div class="col col-8 mobile-full ">
                <h3>{{i18n "wallet.app.texts.noAccounts.title"}}</h3>
                <p>{{i18n "wallet.app.texts.noAccounts.text"}}</p>
            </div>
        {{/if}}

    </div>
    <script>
        $('.toggle').click(function(e){
            e.preventDefault(); // The flicker is a codepen thing
            $(this).toggleClass('toggle-on');
        });
    </script>
</template>
