<template name="views_dashboard">
    <div class="dapp-container">
        <h1>{{{i18n "wallet.accounts.title"}}}</h1>
        <h2>{{i18n "wallet.accounts.accountTitle"}}</h2>
        <br>

        {{#each accounts}}
            {{> elements_account account=_id}}
        {{/each}}

        <a href="{{pathFor route='createAccount'}}" class="wallet-box create">
            <div class="account-pattern">
                +
            </div>
            <h3>{{i18n "wallet.app.buttons.addWallet"}}</h3>
        </a>

        <div class="dapp-clear-fix"></div>
        

        {{#if pendingConfirmations}}
            <h2>{{i18n 'wallet.transactions.pendingConfirmations'}}</h2>

            {{> elements_transactions_table collection="PendingConfirmations" ids=pendingConfirmations }}

        {{/if}}

        {{#if allTransactions}}
            <h2>{{i18n 'wallet.transactions.latest'}}</h2>

            {{> elements_transactions_table limit=5}}

        {{else}}

            <h2>{{i18n 'wallet.transactions.none'}}</h2>
        {{/if}}
    </div>
</template>