<template name="views_home">
    <h1>Account <span>Overview</span></h1>
    <h2>Choose an account to deposit</h2>
    <br>

    {{> elements_account publicKey='214243657890897654321'}}

    {{> elements_account publicKey='654321456432'}}

    {{> elements_account publicKey='987654743213432'}}

    {{> elements_account publicKey='98765474321343232131'}}

    {{> elements_account publicKey='9876547432134321112'}}

    {{> elements_account publicKey='9876547432134323333'}}
    
    <br><br><br> <br><br><br>
    <h2>Pending transactions</h2>

    <br><br><br> <br><br><br>
    <h2>Latest transactions</h2>
</template>