<template name="views_otaRefund">

    {{#each selectAccount}}
        <h1 class="account-h1">
            <div class="circle"></div><strong>{{{i18n "views.otaRefund.title"}}}</strong>
            <div class="dapp-header-map">
                <img class="wanchain-map"/>
                <a href="{{pathFor route='dashboard'}}">WALLETS</a>
                &nbsp;&nbsp;>&nbsp;
                <a href="{{pathFor route='account' address=address}}">
                    {{name.substr 0 26}}
                </a>
                &nbsp;&nbsp;>&nbsp;&nbsp;redeem
            </div>
        </h1>
    {{/each}}

    <div class="viwes-account-header">

        <!--Account-->
        <div style="padding: 40px 20px 0 20px;">
            {{#each selectAccount}}
                {{> dapp_identicon identity=address class="dapp-small"}}
                <a href="{{pathFor route='account' address=address}}">
                    <p style="display: inline-block;margin-left: 10px;">
                        <span style="display: block;font-weight: 600;">{{name.substr 0 26}}</span>
                        <span style="color:#929cb8;">{{address}}</span>
                    <div class="otaRefund-account">{{> elements_balance balance=balance changeUnit=true showAllDecimals=true}}</div>
                    </p>
                </a>
            {{/each}}
        </div>

        <!-- we use a form, which posts into the "dapp-form-helper-iframe" iframe, so that the browser stores inout fields for native autocpmplete -->
        <form class="account-send-form" action="about:blank" target="dapp-form-helper-iframe" autocomplete="on">

            <div class="row col-12">
                <div class="triangle"></div><strong class="views_send_strong">REDEEM FROM OTAS</strong>
                <table class="col-8 token-list dapp-zebra" style="font-size: 12px;">
                    <tbody>
                    {{#each otaList}}
                        <tr>
                            <td>{{formatTime timeStamp 'LLLL'}}</td>
                            <td>{{address.substr 0 42}}...</td>
                            <td>{{> elements_balance balance=value showAllDecimals=true}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>

            <hr style="margin: 0 0 32px 0;"/>

            <!-- fee -->
            <div class="row clear" style="padding-top: 0;margin-top: 10px;">
                <div class="col col-12 mobile-full" style=" padding-left: 0;">
                    <strong style="display: block" class="views_send_strong"><div class="triangle"></div>{{i18n 'wallet.send.fee'}}</strong>
                    {{> modal_selectGasPrice gas=(TemplateVar.get "estimatedGas") gasPrice=latestBlock.gasPrice}}
                </div>
            </div>

            <!-- Total -->
            <div class="col col-12 mobile-full send-info" style="padding-left: 0; margin-top: 10px;">
                <strong style="display: block" class="views_send_strong"><div class="triangle"></div>Total</strong>
                <div class="dapp-select-gas-price">
                    <span class="amount">{{otaTotal}}</span>
                </div>

                <div class="dapp-clear-fix"></div>
            </div>

            <!-- a button type="submit" will send the form -->
            <button type="submit" class="dapp-block-button views_send_button" >
                {{#if TemplateVar.get "sending"}}
                    {{i18n 'buttons.sending'}}
                {{else}}
                    {{i18n "views.otaRefund.send"}}<img class="wanchain-send">
                {{/if}}
            </button>

        </form>
    </div>

</template>
