<template name="views_send">
    <h1>{{{i18n 'wallet.send.title'}}}</h1>

    <div class="account-send-form">
        <div class="account-send-from">
            <h3>From</h3>
            {{> elements_profileImage identity='22312'}}

            <span>You</span>
        </div>
        <div class="account-send-to">
            <h3>To</h3>
            {{> elements_profileImage identity='2231222'}}

            <button>Pick an address</button>
        </div>

        <div class="account-send-info">
            Lorem ipsum Laboris commodo elit culpa mollit in occaecat magna aute ut magna exercitation do sit aliqua Ut officia exercitation.
        </div>
    </div>

</template>