<template name="views_send">

    {{#if deployContract}}
        <h1 class="account-h1"><div class="circle"></div><strong>{{{i18n 'wallet.contracts.deployContract'}}}</strong></h1>
    {{else}}
        <h1 class="account-h1"><div class="circle"></div><strong>{{{i18n 'views.send.title'}}}</strong></h1>
    {{/if}}

    <div class="viwes-account-header">
        <!-- we use a form, which posts into the "dapp-form-helper-iframe" iframe, so that the browser stores inout fields for native autocpmplete -->
        <form class="account-send-form" action="about:blank" target="dapp-form-helper-iframe" autocomplete="on">

            <!-- from/to -->
            <div class="row clear from-to">

                <!--transaction type-->
                <div class="col col-12 mobile-full">
                    {{#if hasTokens}}
                        <div class="triangle"></div><strong class="views_send_strong">{{i18n 'wallet.send.transaction'}}</strong>
                        <select class="select-token"  style="background-color: #d7dde6;border: solid 0px #f7f8fc;">
                            <option id="ether" value="ether" name="choose-token" {{tokenSelectedAttr 'ether'}}>
                                <label for="ether">
                                    <span class="ether-symbol">Ξ</span>
                                    <span class="token-name">WAN</span>
                                    <span class="balance">
                                        {{#if $neq unit 'ether'}}
                                            {{transferBanlance selectedAccount.balance "0,0.00 UNIT"}} ({{transferBanlance selectedAccount.balance "0,0.00[0000000000000000] UNIT" "ether"}})
                                        {{else}}
                                            {{transferBanlance selectedAccount.balance "0,0.00[0000000000000000] UNIT" "ether"}}
                                        {{/if}}
                                    </span>
                                </label>
                            </option>
                            {{#each tokens}}
                                {{#if formattedCoinBalance}}
                                    <option id="token-{{address}}" value="{{address}}"  name="choose-token" {{tokenSelectedAttr address}}>
                                        <label for="token-{{address}}">
                                            {{> dapp_identicon identity=address class="dapp-tiny"}}
                                            <span class="token-name">{{name}}</span>
                                            <span class="balance">{{formattedCoinBalance}}</span>
                                        </label>
                                    </option>
                                {{/if}}
                            {{/each}}
                        </select>
                    {{/if}}
                </div>

                <!--from-->
                <div class="col col-12 mobile-full from">
                    <div class="triangle"></div><strong class="views_send_strong">{{i18n 'wallet.send.from'}}</strong>
                    {{#if switchStype}}
                        <a id="selectType" style="cursor: pointer;">{{selecteType}}</a>
                    {{/if}}
                    {{> dapp_choiceAccount accounts=(selectAccount deployContract) showAccountTypes=true class='send-from'}}
                </div>

                <!--to-->
                <div class="col col-12 mobile-full">
                    {{#unless deployContract}}
                        <div class="triangle"></div><strong class="views_send_strong">{{i18n 'wallet.send.to'}}</strong>
                        {{#if selectTransaction}}
                            {{> dapp_addrInput placeholder="the recipient address which shorter one is for ordinary transaction." name="to" autofocus=true class="to"}}
                        {{else}}
                            {{> dapp_waddressInput placeholder="the recipient address which longer for private transaction." name="to" autofocus=true class="to"}}
                        {{/if}}
                    {{/unless}}
                </div>

                <div class="dapp-clear-fix"></div>
            </div>

            {{#with isVulnerable (TemplateVar.getFrom ".dapp-select-account" "value")}}
                {{#if vulnerabilities.txorigin}}
                    {{> elements_vulnerabilities_txorigin}}
                {{/if}}
            {{/with}}

            <!-- amount -->
            {{#if selectTransaction }}
                <div class="row clear">
                    <div class="col col-6 mobile-full amount">
                        <div class="triangle"></div><strong class="views_send_strong">{{i18n 'wallet.send.amount'}}</strong>
                        {{#if TemplateVar.get "sendAll"}}
                            {{#if $eq (TemplateVar.get "selectedToken") "ether"}}
                                <input type="text" name="amount" class="dapp-large" value="{{clearAmountFromChars (transferBanlance sendAllAmount '0,0.[000000000000000000]')}}" disabled style="margin-top: 5px; background-color: #d7dde6;border: solid 0px #f7f8fc;">
                            {{else}}
                                <input type="text" name="amount" class="dapp-large" value="{{clearAmountFromChars (formatNumberByDecimals sendAllAmount tokenDecimals)}}" disabled style="margin-top: 5px; background-color: #d7dde6;border: solid 0px #f7f8fc;">
                            {{/if}}
                        {{else}}
                            <input type="text" min="0" step="any" name="amount" placeholder="0.0" class="dapp-large" pattern="[0-9\.,]*" style="margin-top: 5px; background-color: #d7dde6;border: solid 0px" >
                        {{/if}}

                        <br>
                        <label><input type="checkbox" class="send-all">{{i18n 'wallet.send.sendAll'}}</label>

                        <p class="send-info">
                            {{#if $eq (TemplateVar.get "selectedToken") "ether"}}
                                {{#if isEtherUnit}}
                                    {{{i18n 'wallet.send.texts.sendAmount' amount=(transferBanlance (TemplateVar.get "amount") "0,0.[000000000000000000] UNIT" "ether")}}}
                                {{else}}
                                    {{{i18n 'wallet.send.texts.sendAmountEquivalent' amount=(transferBanlance (TemplateVar.get "amount") "0,0.[000000] UNIT") etherAmount=(transferBanlance (TemplateVar.get "amount") "0,0.[000000000000000000] UNIT" "ether")}}}
                                {{/if}}
                                {{TemplateVar.get "dailyLimitText"}}
                            {{else}}
                                {{sendExplanation}}
                            {{/if}}
                        </p>
                    </div>

                    {{#unless hasTokens }}
                        <div class="token-ether" style="margin-top: 37px">
                            <span class="ether-symbol">Ξ</span>
                            <span class="token-name">WAN</span>
                            <span class="balance">
                                {{#if $neq unit 'ether'}}
                                    {{transferBanlance selectedAccount.balance "0,0.00 UNIT"}} ({{transferBanlance selectedAccount.balance "0,0.00[0000000000000000] UNIT" "ether"}})
                                {{else}}
                                    {{transferBanlance selectedAccount.balance "0,0.00[0000000000000000] UNIT" "ether"}}
                                {{/if}}
                            </span>
                        </div>
                    {{/unless}}

                    <div class="dapp-clear-fix"></div>
                </div>
            {{else}}
                <div class="row clear">
                    <div class="col col-2 mobile-full amount" style="margin-bottom: 20px;">
                        <div class="triangle"></div><strong class="views_send_strong">{{i18n 'wallet.send.amount'}}</strong>
                        <select class="sendota-selectValue" style="margin-top: 5px; background-color: #d7dde6;border: solid 0px #f7f8fc;">
                            <option name = "myOption" value = "0">{{{i18n 'views.send.Choice'}}}</option>
                            <option name = "myOption" value = "100000000000000000">0.1</option>
                            <option name = "myOption" value = "200000000000000000">0.2</option>
                            <option name = "myOption" value = "500000000000000000">0.5</option>
                            <option name = "myOption" value = "1000000000000000000">1</option>
                            <option name = "myOption" value = "2000000000000000000">2</option>
                            <option name = "myOption" value = "000000000000000000">5</option>
                            <option name = "myOption" value = "10000000000000000000">10</option>
                            <option name = "myOption" value = "20000000000000000000">20</option>
                            <option name = "myOption" value = "50000000000000000000">50</option>
                            <option name = "myOption" value = "100000000000000000000">100</option>
                        </select>
                    </div>

                    <div class="col col-6 mobile-full">
                        <br><br>

                        <div class="token-ether" style="margin-top: -8px">
                            <span class="ether-symbol">Ξ</span>
                            <span class="token-name">WAN</span>
                        </div>
                    </div>
                </div>
            {{/if}}

            {{#if $eq (TemplateVar.get "selectedToken") "ether"}}
                {{> elements_compileContract onlyByteCode=showOnlyByteTextarea codeNotExecutable=(TemplateVar.get "codeNotExecutable")}}
            {{/if}}


            <!-- fee -->

            <div class="row clear">
                <div class="col col-7 mobile-full">
                    <strong style="display: block" class="views_send_strong"><div class="triangle"></div>{{i18n 'wallet.send.fee'}}</strong>
                    {{> modal_selectGasPrice gas=(TemplateVar.get "estimatedGas") gasPrice=latestBlock.gasPrice}}
                </div>

                <div class="col col-5 mobile-full send-info">
                    <br><br>
                    {{{i18n 'wallet.send.texts.sendFee' timetext=timeText}}}

                    {{#if $eq (TemplateVar.get "estimatedGas") 0}}
                        <p class="orange">
                            <i class="icon-info"></i> {{i18n 'wallet.send.texts.cantEstimateGas'}}
                        </p>
                    {{/if}}
                </div>

                <div class="dapp-clear-fix"></div>
            </div>

            <!-- Total -->
            <div class="row clear total">
                <strong style="display: block" class="views_send_strong"><div class="triangle"></div>Total</strong>
                <div class="dapp-select-gas-price">
                    {{#if $eq (TemplateVar.get "selectedToken") "ether"}}
                        <span class="amount">{{transferBanlance total "0,0.00[0000000000000000] UNIT"}}</span>
                        {{#if $neq unit 'ether'}}
                            <br>
                            ({{transferBanlance total "0,0.00[0000000000000000] UNIT" "ether"}})
                        {{/if}}
                    {{else}}
                        <span class="amount">{{tokenTotal}}</span> {{selectedToken.symbol}}
                        <br>
                        {{i18n "wallet.send.estimatedFee"}}: {{transferBanlance total "0,0.00[000000] UNIT" "ether"}}
                    {{/if}}

                    {{#if selectedAccountIsWalletContract}}
                        <br>
                        {{i18n "wallet.send.texts.ownerPaysGas"}} ({{transferBanlance (TemplateVar.getFrom ".dapp-select-gas-price" "gasInWei") "0,0.00[0000000000000000] UNIT" "ether"}})
                    {{/if}}
                </div>

                <div class="dapp-clear-fix"></div>
            </div>

            <hr style="background-color: #d7dde6; border: solid 2px #e8ebf0;">

            <!-- a button type="submit" will send the form -->

            <button type="submit" class="dapp-block-button views_send_button">
                {{#if TemplateVar.get "sending"}}
                    {{i18n 'buttons.sending'}}
                {{else}}
                    {{#if deployContract}}
                        {{i18n 'wallet.app.buttons.deploy'}}
                    {{else}}
                        {{i18n 'buttons.send'}}
                    {{/if}}
                {{/if}}
            </button>

        </form>
    </div>

</template>