<template name="views_tokens">
     <!-- we use a form, which posts into the "dapp-form-helper-iframe" iframe, so that the browser stores inout fields for native autocpmplete -->
        
        <h1> Custom Tokens </h1>
        
        <div class="clear"></div>

        <h2> Tokens being used</h2>
       <div class="clear"></div>
     
        {{#each tokens}}

        <a href="#" class="wallet-box tokens" style="background-image:{{geoPattern}}" data="{{address}}">
            {{> dapp_identicon identity=address class="dapp-small"}}
            <h3> {{name}}  </h3>
            <button class="delete-token" data="{{address}}"><i class="icon-trash"></i></button>
            <span class="account-balance"> 
                {{formattedTotalBalance}}<span> {{symbol}}</span>
            </span>            
            <span class="account-id">{{address}}</span>                
        </a>

        {{/each}}
       <a href="#" class="wallet-box create add-token">
            <div class="account-pattern">
                +
            </div>
            <h3>{{i18n "wallet.app.buttons.addToken"}}</h3>
        </a>

</template>