<template name="views_tokens">
    <div class="dapp-container">      
        <h1>{{{i18n "wallet.tokens.title"}}}</h1>
        
        <p>
            {{{i18n "wallet.tokens.description"}}}
        </p>

        <br><br>
        <div class="dapp-clear-fix"></div>

        {{#each tokens}}
            {{> elements_tokenBox}}
        {{/each}}

        <button class="wallet-box create add-token">
            <div class="account-pattern">
                +
            </div>
            <h3>{{i18n "wallet.app.buttons.addToken"}}</h3>
        </button>
    </div>  
</template>