<template name="views_crosschain">

    <div class="tempTable">
        <!--ETH Accounts Overview list-->
        <div class="viwes-account-header">
            <h1 class="account-h1" style="margin-top: 0"><div class="viwes-account-line"></div><strong>ETH Accounts Overview</strong></h1>
            {{#if ethAccounts}}
                {{> elements_account_table ethAccounts=ethAccounts}}
            {{else}}
                <div class="wanchain-notransaction" style="">
                    <img />
                    <p>NO ETH ACCOUNT</p>
                </div>
            {{/if}}
        </div>

        <!--transaction list-->
        <div class="viwes-account-header">
            <h1 class="account-h1" style="margin-top: 0"><div class="viwes-account-line"></div><strong>History for ETH and Crosschain Transaction</strong></h1>
            {{#if crosschainList}}
                {{> elements_cross_transactions_table crosschainList=crosschainList}}
            {{else}}
                <div class="wanchain-notransaction" style="">
                    <img />
                    <p>NO TRANSACTION RECORD</p>
                </div>
            {{/if}}
        </div>
    </div>

</template>
