<template name="views_ethsend">
    <div class="tempTable">

        <div class="viwes-account-header">

            <!-- we use a form, which posts into the "dapp-form-helper-iframe" iframe, so that the browser stores inout fields for native autocpmplete -->
            <form class="account-send-form" action="about:blank" target="dapp-form-helper-iframe" autocomplete="on">

                <!-- from/to -->
                <div class="row clear from-to">

                    <!--from-->
                    <div class="col col-12 mobile-full contBox from">
                        <div class="triangle"></div><strong class="views_send_strong">From</strong>

                        <div class="dapp-select-account send-from">
                            <select class="send-from" id="ethNor-from" style="background-color: #f7f8fc;border: solid 0px #f7f8fc; padding-left: 10px;">
                                {{#each selectAccount}}
                                    <option value="{{address}}">
                                        {{name}}
                                        - {{balance}} eth
                                    </option>
                                {{/each}}
                            </select>
                            <i class="no-identicon icon-{{TemplateVar.get 'value'}}"></i>
                        </div>

                    </div>

                    <!--to-->
                    <div class="col col-12 mobile-full contBox" style="margin-bottom: 0">
                        <div class="triangle"></div><strong class="views_send_strong">{{i18n 'wallet.send.to'}}</strong>
                        {{> cross_eth_addrInput placeholder=" Please paste public address here" name="to" autofocus=true class="to toweth-to"}}
                    </div>

                </div>

                <!-- amount -->
                <div class="row clear" style="padding: 0; margin-bottom: 0;">
                    <div class="col col-6 mobile-full contBox amount">
                        <div class="triangle"></div><strong class="views_send_strong">{{i18n 'wallet.send.amount'}}</strong>
                        <input type="text" min="0" step="any" name="amount" placeholder="0.0" class="comAmountInp dapp-large" pattern="[0-9\.,]*" style="height: 40px; line-height: 40px; font-size: 14px;  margin-top: 5px; background-color: #f7f8fc;border: solid 0px;" >
                    </div>
                </div>

                <!-- transaction fee -->
                <div class="row clear" style="padding-top: 0;">
                    <div class="col col-12 mobile-full contBox">
                        <strong style="display: block" class="views_send_strong"><div class="triangle"></div>{{i18n 'wallet.send.fee'}}</strong>

                        <div class="dapp-select-gas-price">
                            <span>{{TemplateVar.get 'fee'}} <span>eth</span></span>
                            {{#unless TemplateVar.get "sending"}}
                                <a class="options" style="cursor: pointer">[Advanced options]</a>

                                {{#if TemplateVar.get "options"}}
                                    <input type="range" name="fee" min="-1" max="5" step="1" value="{{TemplateVar.get 'feeMultiplicator'}}">
                                    <span style="left: 10px;margin-top: 10px;">{{i18nText 'low'}}</span>
                                    <span style="right: 10px;margin-top: 10px;">{{i18nText 'high'}}</span>
                                {{/if}}

                            {{/unless}}
                        </div>

                    </div>
                </div>

                <!-- Total -->
                <!-- a button type="submit" will send the form -->
                <div class="col col-12 mobile-full contBox send-info" style="padding-left: 0;">
                    <strong style="display: block" class="views_send_strong"><div class="triangle"></div>Total</strong>
                    <div class="dapp-select-gas-price">
                        <span class="amount">{{TemplateVar.get "total"}}<span> eth</span></span>
                    </div>
                </div>

                <div style="width: 100%; display: inline-block; clear: both;">
                    <button type="submit" class="dapp-block-button views_send_button" >
                        {{i18n 'buttons.send'}}<img class="wanchain-send">
                    </button>
                </div>

            </form>
        </div>
    </div>

</template>
