<template name="views_crosschain_main">

    <h1 class="account-h1">
        <div class="circle"></div>
        <strong>Crosschain</strong>

        <div class="dapp-header-map">
            <div class="home-link">
                <a href="{{pathFor route='dashboard'}}"><img/></a>
            </div>
            <span style="top: 4px;">&nbsp;>&nbsp;CROSSCHAIN</span>
        </div>
    </h1>

    <nav class="crosschain-nav">
        <ul style="float: left;">

            <li>
                <a class="history">
                    <span >Transaction history</span>
                </a>
                <div class="bottomBor"></div>
            </li>

            <li>
                <a class="toWeth">
                    <span>ETH >> WETH</span>
                </a>
                <div class="bottomBor"></div>
            </li>

            <li>
                <a class="toWan">
                    <span>WETH >> ETH</span>
                </a>
                <div class="bottomBor"></div>
            </li>

            <li>
                <a class="toNormal">
                    <span>Normal transaction</span>
                </a>
                <div class="bottomBor"></div>
            </li>

        </ul>
    </nav>

    {{#if $eq ($.Session.get "clickButton") 1}}
        {{> views_crosschain}}
    {{/if}}

    {{#if $eq ($.Session.get "clickButton") 2}}
        {{> views_ethToweth}}
    {{/if}}

    {{#if $eq ($.Session.get "clickButton") 3}}
        {{> views_wethToeth}}
    {{/if}}

    {{#if $eq ($.Session.get "clickButton") 4}}
        {{> views_ethsend}}
    {{/if}}

</template>
