<template name="layout_header">
    <nav>
        <ul>
            <li>
                <a href="{{pathFor route='dashboard'}}" >
                    <img class=" wanchain-log-small wanchain-logo" />
                </a>
            </li>

            <li class="block-info dapp-flex-item  {{#if TemplateVar.get 'syncing'}}syncing{{/if}}" style="cursor: auto;">
                <div class="dapp-header-div">
                    {{#if isWalletMode}}

                        {{#if $eq ($.Session.get "network") "test"}}
                            <span class="private-chain" title="{{i18n 'wallet.app.texts.testnetExplain'}}">TEST-NET</span> &nbsp;&nbsp;
                        {{/if}}
                        {{#if $eq ($.Session.get "network") "private"}}
                            <span class="private-chain" title="{{i18n 'wallet.app.texts.testnetExplain'}}">PRIVATE-NET</span> &nbsp;&nbsp;
                        {{/if}}

                        {{#with TemplateVar.get "syncing"}}
                            <span class="text">
                            <i class="icon-feed"></i>{{$.Session.get "peerCount"}} <span class="hide-on-small">{{i18n 'wallet.app.texts.peers'}}</span>
                            &nbsp;&nbsp;|&nbsp;&nbsp;
                            <i class="icon-layers"></i>{{i18n "wallet.app.texts.nodeSyncing" blockDiff=blockDiff}}
                                &nbsp;&nbsp;|&nbsp;&nbsp;
                            <i class="icon-cloud-download"></i> {{progress}}%
                            <br>
                        </span>
                            <progress max="100" value="{{progress}}"></progress>
                        {{else}}
                            <!--<i class="icon-feed"></i>-->
                            <img class="wanchain-peer" />
                            {{$.Session.get "peerCount"}} <span class="hide-on-small">{{i18n 'wallet.app.texts.peers'}}</span>
                            &nbsp;&nbsp;|&nbsp;&nbsp;
                            <!--<i class="icon-layers"></i> -->
                            <img class="wanchain-block" />
                            {{formattedBlockNumber}}
                            <!--<i class="icon-clock" style="margin-left: 10px;"></i> -->
                            <img class="wanchain-clock" />
                            {{{timeSinceBlock}}} <span class="hide-on-small">{{{timeSinceBlockText}}}</span>
                        {{/with}}
                    {{/if}}
                </div>
            </li>

            <li style="flex: 1;">
                {{#if $.Session.get "ledgerConnect"}}
                    <div class="ledgerConnect">
                        <em class=" wanchain-log-small"></em>
                        <span>Ledger Wallet Connected</span>
                    </div>
                {{/if}}
            </li>

            <li class="header-account" style="position: relative;top: 5px;margin-right: 10px;width: 105px!important;line-height: 23px;">
                <a href="{{pathFor route='crosschain'}}" style="margin: 0;padding: 0;">
                    <span style="margin-left: -7px;">Crosschain</span>
                </a>
            </li>

            <li class="header-account" style="position: relative;top: 5px;margin-right: 10px;width: 100px!important;line-height: 23px;">
                <a href="{{pathFor route='contracts'}}" style="margin: 0;padding: 0;">
                    <span style="margin-left: -7px;">{{i18n 'wallet.app.buttons.contracts'}}</span>
                </a>
            </li>

            <li class="header-account" style="cursor: pointer;position: relative;top: 5px; width: 147px!important;line-height: 23px;white-space: nowrap;">
                <a  id="header-account" style="margin: 0;padding: 0;"> <span>{{i18n 'wallet.app.buttons.account'}}</span> </a>
            </li>

        </ul>


    </nav>
</template>
