<template name="layout_main">

	<!-- <div class="dapp-grid"></div> -->

	<header class="dapp-header dapp-small{{#if isMist}}{{#unless isWalletMode}} dapp-full-header {{/unless}}{{/if}}"
    style="background-color: #ffffff; box-shadow: 0px 3px 8px 0px rgba(15, 104, 170, 0.06);">
		{{> Template.dynamic template=header}}
	</header>

	<div class="dapp-flex-content">

		<!-- content -->
		<main class="dapp-content">
			{{> Template.dynamic template=main data=data}}
		</main>

	</div>

	{{> dapp_modalPlaceholder}}

	{{> GlobalNotifications}}
</template>