<template name="elements_account_link">
    {{#with getAccount}}
        <span class="address dapp-shorten-text {{ensClass}}">
            {{> dapp_identicon identity=address class="dapp-tiny"}} 
            {{#if name}}
                <a href="{{pathFor route='account' address=address}}">{{displayName}}</a>
            {{else}}
                {{tryENS}}
                <a href="{{pathFor route='sendTo' address=address}}" title="{{address}}">{{address}}</a>
            {{/if}}
        </span>
    {{/with}}
</template>