<template name="elements_account">
    <div class="dashboard-box-list">
	    {{#with account}}
		    <div class="wallet-box {{#if creating}}creating{{/if}} {{#if disabled}}disabled{{/if}} {{#if ../wallets}}wallets{{/if}} {{#if new}}new{{/if}}" id="elements_account_div">
			    {{#with unConfirmed}}
				    <div class="dapp-progress">
					    <div class="dapp-bar" style="width: {{percent}}%;"></div>
				    </div>
			    {{/with}}

			    {{#unless ../main}}
				    <!-- <div class="account-pattern"> -->
				    {{#if address}}
					    {{> dapp_identicon identity=address class="dapp-small"}}
				    {{else}}
					    <span class="dapp-identicon dapp-small dapp-icon-loading"></span>
				    {{/if}}
				    <!-- </div> -->
			    {{else}}
				    <div class="account-pattern">
					    {{#if address}}
						    {{> dapp_identicon identity=address class="dapp-small"}}
					    {{else}}
						    {{> spinner}}
					    {{/if}}
				    </div>
			    {{/unless}}


			    {{#with tokens}}
				    <ul class="token-list">
					    {{#each this}}
						    <li data-tooltip="{{displayName}} ({{formattedTokenBalance}})" class="simptip-position-right simptip-movable">{{> dapp_identicon identity=address class="dapp-tiny"}}</li>
					    {{/each}}
				    </ul>
			    {{/with}}

			    <h3 class="{{ensClass}}">
				    {{#if isVulnerable}}
					    <span class="red">
                        <i class="icon-info"></i>
						    {{displayName}}
                    </span>
				    {{else}}
					    {{#if ../isContract}}
						    <i class="icon-doc"></i>
					    {{else}}
						    {{walletIcon}}
					    {{/if}}
					    {{displayName}}
				    {{/if}}
			    </h3>
                <p style="margin-top: 30px;margin-bottom: 0;">
                    <span class="copyable-address{{address}} accountLink-span account-id {{#if creating}}creating{{/if}}" style="padding-top: 5px; color: #827a7a">{{toChecksumAddress address}}</span>
                    <button class="copy-to-clipboard-button icon-docs" style="margin: 0 10px;" name={{address}} ></button>
                    <button class="qrcode-button icon-camera" name={{address}} ></button>
                </p>
                <p style="margin-top: 0;margin-bottom: 0;">
                <span class="copyable-address{{waddress}} accountLink-span account-id {{#if creating}}creating{{/if}}" style="color: #827a7a">{{waddress}}</span>
                    <button class="copy-to-clipboard-button icon-docs" style="margin: 0 10px;" name={{waddress}} ></button>
                    <button class="qrcode-button icon-camera" name={{waddress}} ></button>
                </p>


			    {{#unless creating}}
				    {{> elements_balance balance=balance}}
			    {{else}}
				    {{#if imported}}
					    <span class="account-balance">{{i18n "wallet.accounts.importing"}} <span>...</span></span>
				    {{else}}
					    <span class="account-balance">{{i18n "wallet.accounts.creating"}} <span>...</span></span>
				    {{/if}}
			    {{/unless}}
		    </div>

            <div>
                {{#if hrefType}}
                <a  href="{{pathFor route='sendTo' address=(toChecksumAddress address)}}"
                   class="wallet-box {{#if creating}}creating{{/if}} {{#if disabled}}disabled{{/if}} {{#if ../wallets}}wallets{{/if}} {{#if new}}new{{/if}}"
                   style="min-height: 10px; margin: 0;"><i class="icon-arrow-right"></i>Transfer</a>
                {{else}}
                    <a  href= "" class="wallet-box {{#if creating}}creating{{/if}} {{#if disabled}}disabled{{/if}} {{#if ../wallets}}wallets{{/if}} {{#if new}}new{{/if}}"
                       style="min-height: 10px; margin: 0;" id="transfer" name={{balance}}><i class="icon-arrow-right"></i>Transfer</a>
                {{/if}}

                <a href="{{pathFor route='account' address=address}}" class="wallet-box {{#if creating}}creating{{/if}} {{#if disabled}}disabled{{/if}} {{#if ../wallets}}wallets{{/if}} {{#if new}}new{{/if}}"
                   style="min-height: 10px; margin: 0;" id={{address}}><i class="icon-arrow-right"></i>Detail</a>
            </div>
	    {{/with}}
    </div>
</template>