<template name="elements_createdContractAt">
    <i class="icon-docs"></i> {{i18n "wallet.transactions.types.createdContract"}}
    {{#if contractAddress}}
        {{i18n "commonWords.at"}} 
        <a href="https://etherchain.org/account/{{contractAddress}}" target="_blank">{{contractAddress}}</a>
        {{#unless deployedData}}
            <br>
            <small class="red">
                <i class="icon-shield"></i> {{i18n "wallet.transactions.error.noDataDeployed"}}
            </small>
        {{/unless}}
    {{/if}}
</template>