<template name="elements_cross_transactions_table">
    <table class="dapp-zebra transactions">
        <thead >
        <tr class="full-width">
            <th colspan="5">Operation</th>
            <th colspan="5">HTLC</th>
            <th colspan="5">Time</th>
            <th colspan="5">From</th>
            <th colspan="5">Storeman</th>
            <th colspan="5">To</th>
            <th colspan="5">Status</th>
            <th colspan="5">Value</th>
        </tr>
        </thead>
        <tbody class="transfer-list-tbody">
        {{#each historyList}}
            <tr class="full-width">
                <td colspan="5" class="crosschain-list" id="{{@index}}">
                    {{state}}{{text}}
                </td>
                <td colspan="5" class="show-detail" id="{{@index}}">{{{TemplateVar.get "htlcTime"}}}</td>
                <td colspan="5" class="show-detail" id="{{@index}}">{{time}}</td>
                <td colspan="5" class="show-detail" id="{{@index}}">{{from.substr 0 20}}...</td>
                <td colspan="5" class="show-detail" id="{{@index}}">{{storeman.substr 0 20}}...</td>
                <td colspan="5" class="show-detail" id="{{@index}}">{{crossAdress.substr 0 20}}...</td>
                <td colspan="5" class="show-detail" id="{{@index}}">{{status}}</td>
                <td colspan="5" class="show-detail" id="{{@index}}">{{value}} ETH</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>


