<template name="elements_executeContract">
   <!-- EXECUTE CONTRACT -->
        <div class="row clear execute-contract">
        

        {{#if hasCode}}
            <h2> {{i18n "wallet.contracts.contractInformation"}} </h2>
            <div class="dapp-clear-fix"></div>

            <button class="toggle-execution dapp-block-button dapp-small">{{visibilityToggleButton}}</button>

            
            {{#if TemplateVar.get "executionVisible"}}
            
            {{#unless listContractConstants }}

            <div class="dapp-clear-fix"></div>
            <input type="text" name="abi" placeholder="[{ 'looks': {'like': 'this'} }]" class="" value="{{getContractInfo.interface}}">             
            {{/unless}}

            

            <div class="dapp-clear-fix"></div>

            <div class="col col-8 mobile-full contract-info">
                <div class="dapp-clear"></div>
    
                <table class="contract-constants dapp-zebra">
                    <tbody>
                    {{#each listContractConstants}}
                    <tr class="constant-input constant-input-{{name}}" data="{{name}}">
                        <td>
                        <h3>{{name}}</h3>
                        {{#each inputs}}
                            {{> Template.dynamic template=template name=name bits=bits class='constant-input dapp-small' parent=parentName}}
                            
                        {{/each}}
                    </td></tr>
                    <tr><td>
                        <dl class="constant-{{name}} dapp-zebra">
                        {{#each outputs}}
                            {{#if name}}
                            <dt>{{name}}</dt>
                            {{/if}}
                            <dd class="output"></dd>                             
                        {{/each}}
                        </dl>
                        </td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>

            </div>

            <div class="col col-4 mobile-full contract-functions">
                {{#with listContractFunctions}}                    
                    
                    <h4>Select Function</h4>
                    <select class="select-contract-function" name="select-contract-function">
                        <option disabled selected>Pick a contract function</option>

                    {{#each this}}
                        <option value="{{name}}">{{name}}</option>
                    {{/each}}    
                    </select>
                    
                    {{#with selectedFunctionInputs}}
                        {{#if this}}
                            <div class="dapp-clear"></div>

                            <h4>From</h4>
                            {{> dapp_selectAccount accounts=fromAccounts showAccountTypes=true}}

                            {{#each this}}
                                {{> Template.dynamic template=template name=name bits=bits parent='selected function' }}
                            {{/each}}
                            <div class="dapp-clear"></div>
                            <button class="dapp-block-button execute">Execute</button>
                        {{/if}}
                    {{/with}}

                        
                    
                {{/with}}
            </div>
            <div class="dapp-clear-fix"></div>
        {{/if}}
        
        {{/if}}
        </div>
</template>