<template name="elements_executeContract">
   <!-- EXECUTE CONTRACT -->
        <div class="row clear execute-contract">
        {{#if hasCode}}
            <div class="col col-6 mobile-full">
                <h3>Contract Interface</h3>
                <input type="text" name="abi" placeholder="[{ 'looks': {'like': 'this'} }]" class="">
                <br><br>
                In order to be able to execute a contract we need the contract interface. This should be given by the contract creator.
            </div>

            <div class="col col-6 mobile-full">
                {{#with listContractFunctions}}
                    <h3>Choose Function</h3>
                    <select class="select-contract-function" name="select-contract-function">
                    {{#each this}}
                        <option value="{{name}}" selected="">{{name}}</option>
                    {{/each}}    
                    </select>
                        
                    {{#each selectedFunctionInputs}}
                        {{> Template.dynamic template=template name=name bits=bits }}
                    {{/each}}
                {{/with}}
            </div>

        {{else}}
            <p class="red">
                <i class="icon-shield"></i> {{{i18n 'wallet.send.texts.noCodeInRecipient'}}}
            </p>
        {{/if}}

        

            <div class="dapp-clear-fix"></div>
        </div>
</template>