<template name="elements_tokenBox">
    <button class="wallet-box tokens {{#if disabled}}disabled{{/if}}" style="background-image:{{geoPattern}}" data="{{address}}">
        {{> dapp_identicon identity=address class="dapp-small"}}
        <h3>{{name}}</h3>
        <button class="delete-token" data="{{address}}"><i class="icon-trash"></i></button>
        <span class="account-balance"> 
            {{formattedTotalBalance}}<span> {{symbol}}</span>
        </span>            
        <span class="account-id">{{address}}</span>                
    </button>
</template>