<template name="elements_transactions_table">
    <!--{{#unless $eq collection "PendingConfirmations"}}-->
        <!--<input type="text" class="filter-transactions" placeholder="{{i18n 'wallet.transactions.filter'}}">-->
    <!--{{/unless}}-->
    <table class="dapp-zebra transactions">
        <thead style="background-color: #ffffff;color: #3f454c;text-transform: capitalize;">
        <tr>
            <th>Time</th>
            <th>From</th>
            <th></th>
            <th>to</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody class="transfer-list-tbody">
            {{#each items}}
                {{> elements_transactions_row}}
            {{else}}
                <tr class="full-width">
                    <td colspan="5">
                        {{i18n "wallet.transactions.noneFound"}}
                    </td>
                </tr>
            {{/each}}

            {{#if hasMore}}
                <tr>
                    <td colspan="10">
                        <button class="show-more">{{i18n "wallet.transactions.showMore"}}</button>
                    </td>
                </tr>
            {{/if}}
        </tbody>
    </table>
</template>

<template name="elements_transactions_row">
    <tr class="{{#if $eq unConfirmed.confirmations 0}}unconfirmed{{/if}} {{#if disabled}}disabled{{/if}}  {{#if $eq ../collection "PendingConfirmations"}}pending{{/if}}" data-operation="{{operation}}" data-transaction-hash="{{transactionHash}}" data-block-hash="{{blockHash}}">
        {{#unless $eq ../collection "PendingConfirmations"}}
            {{#with unConfirmed}}
                <div class="dapp-progress">
                    <div class="dapp-bar" style="width: {{percent}}%;"></div>
                </div>
            {{/with}}
        {{/unless}}
        <td class="time simptip-position-right simptip-movable" data-tooltip="{{formatTime timestamp 'LLLL'}}">
            <h2>{{formatTime timestamp "MMM"}}</h2>
            <p>{{formatTime timestamp "D"}}</p>
        </td>
        <td class="account-name">
            {{> elements_account_link address=from}}
        </td>

        {{#if outOfGas}}
            <td ><span style="padding: 3px 10px;background: #ff750f;border-radius: 20px;color: #ffffff;">OUT</span></td>
        {{else}}
            {{#if incomingTx ../account}}
                <td ><span style="padding: 3px 18px;background: #1993fd;border-radius: 20px;color: #ffffff;">IN</span></td>
            {{else}}
                <td ><span style="padding: 3px 10px;background: #ff750f;border-radius: 20px;color: #ffffff;">OUT</span></td>
            {{/if}}
        {{/if}}

        <td>
        {{#if to}}
            <span class="address dapp-shorten-text">{{waddressTransfer to}}</span>
        {{else}}
            {{> elements_createdContractAt contractAddress=contractAddress deployedData=deployedData}}
        {{/if}}
        </td>

        {{#if outOfGas}}
            <td class="transaction-amount minus">
                {{transferBanlance fee '0,0.00[000] UNIT'}}
            </td>
        {{else}}
            {{#if incomingTx ../account}}
                <td >
                    {{#if tokenId}}
                        {{tokenValue}}
                    {{else}}
                        {{formatTransactionBalance value exchangeRates}}
                    {{/if}}
                </td>
            {{else}}
                <td >
                    {{#if tokenId}}
                        {{tokenValue}}
                    {{else}}
                        {{formatTransactionBalance value exchangeRates}}
                    {{/if}}
                </td>
            {{/if}}
        {{/if}}

        {{#if $eq ../collection "PendingConfirmations"}}
            {{#if sending}}
                <td colspan='2' class="button">
                    {{> spinner}}
                </td>
            {{else}}
                {{#if multipleOwnersApproved}}
                    {{#if approved}}
                    <td class="button">
                        <button class="dapp-block-button approve">
                            {{i18n "wallet.transactions.buttons.approve"}}
                        </button>
                    </td><td class="button">
                        <button class="dapp-block-button revoke">
                            {{i18n "wallet.transactions.buttons.revoke"}}
                        </button>
                    </td>
                    {{else}}
                    <td class="button" colspan="2">
                        <button class="dapp-block-button approve">
                            {{i18n "wallet.transactions.buttons.approve"}}
                        </button>
                    </td>
                    {{/if}}
                {{else}}
                    {{#if approved}}
                    <td class="button" colspan="2">
                        <button class="dapp-block-button revoke selected">
                            <div class="hover-label">{{i18n "wallet.transactions.buttons.revoke"}}</div>
                            <div class="label">
                                <i class="icon-check"></i> {{i18n "wallet.transactions.buttons.approved"}}
                            </div>
                        </button>
                    </td>
                    {{else}}
                    <td class="info" colspan="2">
                        <i class="icon-info"></i> {{i18n "wallet.transactions.noOwnerAccount"}}
                    </td>
                    {{/if}}
                {{/if}}
            {{/if}}
        {{/if}}
    </tr>
</template>

