<template name="elements_transactions_table">
    <br>
    <input type="text" class="filter-transactions" placeholder="{{i18n 'wallet.transactions.filter'}}">
    <table class="dapp-zebra">
        <thead>
            <tr>
                <td class="time">{{i18n "wallet.transactions.time"}}</td>
                <td>{{i18n "wallet.transactions.from"}}</td>
                <!-- <td>{{i18n "wallet.transactions.to"}}</td> -->
                <td class="transaction-amount">{{i18n "wallet.transactions.amount"}}</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {{#each items}}
                {{> elements_transactions_row}}
            {{else}}
                <tr>
                    <td colspan="5" style="text-align: center;">
                        {{i18n "wallet.transactions.noneFound"}}
                    </td>
                </tr>
            {{/each}}

            {{#if hasMore}}
                <tr>
                    <td colspan="5">
                        <button class="show-more">{{i18n "wallet.transactions.showMore"}}</button>
                    </td>
                </tr>
            {{/if}}
        </tbody>
    </table>
</template>

<template name="elements_transactions_row">
    <tr>
        <td class="time" title="{{formatTime timestamp 'LLLL'}}">
            {{#with unConfirmed}}
                <div class="dapp-progress">
                    <div class="dapp-bar" style="width: {{percent}}%;"></div>
                    <span>{{confirmations}} {{i18n "commonWords.of"}} {{totalConfirmations}} {{i18n "wallet.transactions.confirmations"}}</span>
                </div>
            {{else}}
                <h2>{{formatTime timestamp "MMM"}}</h2>
                <p>{{formatTime timestamp "D"}}</p>
            {{/with}}
        </td>
        <td class="account-name">
            <h2>{{transactionType}}</h2>
            <span class="relative-time">{{fromNowTime}}</span>
            <p>
                {{> elements_transactions_row_tofrom account=account address=from}}
                <span class="arrow">→</span> 
                {{> elements_transactions_row_tofrom account=account address=to}}
            </p>
        </td>
        <!-- <td class="account-name">
            {{> elements_transactions_row_tofrom account=account address=to}}
        </td> -->
        {{#if incomingTx ../account}}
            <td class="transaction-amount plus">
                {{formatBalance value '0,0.00[000000]'}}
            </td>
        {{else}}
            <td class="transaction-amount minus">
                -{{formatBalance value '0,0.00[000000]'}}
            </td>
        {{/if}}
        <td>
            {{#if incomingTx ../account}}
                <i class="icon-arrow-left plus"></i>
            {{else}}
                <i class="icon-arrow-right minus"></i>
            {{/if}}
        </td>
    </tr>
</template>

<template name="elements_transactions_row_tofrom">
    {{#with getAccount}}
        {{#if type}}
            {{> dapp_identicon identity=address class="dapp-tiny"}} <a href="{{pathFor route='account' account=address}}">{{name}}</a>
        {{else}}
            <a href="{{pathFor route='sendTo' address=address}}" title="{{address}}">{{address}}</a>
        {{/if}}
    {{/with}}
</template>

