<template name="elements_vulnerabilities_txorigin">
    <div class="row clear">
        <div class="col col-12 mobile-full account-page-notification">
            <a href="{{pathFor route='createAccount' query=upgradeParams}}">
                {{i18n "wallet.app.warnings.txOriginVulnerability"}}
            </a>
            <br><br>
            <a href="https://blog.ethereum.org/2016/06/22/security-alert-smart-contract-wallets-created-in-frontier-are-vulnerable-to-phishing-attacks" target="_blank">blog.ethereum.org/2016/06/22/security-alert-smart-contract-wallets-created-in-frontier-are-vulnerable-to-phishing-attacks</a>
        </div>
    </div>
</template>