// libs
@import 'dapp-styles/dapp-styles.less';




/**********************************/
/* START FORMATTING YOUR APP HERE */
/**********************************/


// Change Default constants

@colorLink: #02A8F3;
@colorMainBackground: #05669A;
@colorMainBackgroundDark: #064A80;

html, body {
    height: 100%;
}